.composition {
  position: relative;

  &__photo {
    width: 55%;

    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    outline-offset: 2rem;
    transition: all 0.2s;
    border-radius: 2px;
    @include respond(tab-port) {
      display: none;
    }

    &--1 {
      left: 0;
      top: -2rem;
    }
    &--2 {
      left: 40%;
      top: 2rem;
    }
    &:hover {
      outline: 1.5rem solid $color-secondary-light;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
    &:hover &__photo:not(:hover) {
      transform: scale(0.95);
    }
  }
}
